.footer {
  background-color: #1A1A1A;

  .footer__body {
    display: flex;
    flex-direction: column;
    align-items: center;

    .footer__logo {

    }

    .footer__nav {
      display: flex;
      max-width: 800px;
      height: 40px;
      margin: 30px 0 40px 0;

      .footer__nav-list--links {
        display: flex;
        align-items: center;
        border-right: 1px solid #fff;

        .footer__nav-item--links {
          padding: 0 50px 0 0;

          .footer__nav-link {}
        }
      }

      .footer__nav-list--social {
        margin-left: 20px;
        display: flex;
        align-items: center;

        .footer__nav-item--social {

          & img {
            width: 30px;
            height: 30px
          }
        }
      }
    }

    .footer__trademark {
      font-weight: 500;
      font-size: 12px;
      text-align: center;
    }
   }
  }

@media (max-width:785px) {

  .footer {
    .footer__body{

      .footer__logo {
        width: 150px;
      }

      .footer__nav {
        margin: 10px 0 25px 0;

        .footer__nav-list--links {
          display: none;
        }
      }

      .footer__trademark {
        font-size: 10px;
      }
    }
  }
}
